{% extends 'base.html'%}
{% block title %} Sign Up Page {% endblock %}
{% block content %}
<h1 class="mb-10 text-5xl" > Sign Up </h1>
<div class="w-1/2">
<form method="POST" align="left" class="bg-white rounded px-8 pt-6 pb-8 mb-4">
{% csrf_token %}

<p class="block text-gray-500 font-bold mb-1 md:mb-0 pr-4"> Enter your name:   <input class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-2 ml-8" type="text" name="na" placeholder="enter name" required></p>

<p class="block text-gray-500 font-bold mb-1 md:mb-0 pr-4"> Enter your location:   <input class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-2 ml-3" type="text" name="loc" placeholder="enter location" required> </p>

<p class="block text-gray-500 font-bold mb-1 md:mb-0 pr-4"> Enter valid email:   <input class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-2 ml-7" type="email" name="em" placeholder="enter email address" required> </p>

<p class="block text-gray-500 font-bold mb-1 md:mb-0 pr-4"> Enter username:   <input class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-2 ml-9" type="text" name="un" placeholder="enter username" required> </p>
<br>
<input class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mb-8" type="submit" value="Sign Up">
<br>
</form>
</div>
{{ msg }}
{% endblock %}